<a href="https://colab.research.google.com/github/hashvir98-cell/Python/blob/main/Python_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
b=10
print(a+b)

15

In [ ]:
price_of_burger=200
price_of_pizza=500
price_of_sandwich=100
price_of_coke=50
price_of_pasta=150
discount_per=5
total_bill=price_of_pizza+price_of_burger+price_of_coke+price_of_sandwich+price_of_pasta
discount=total_bill*discount_per/100
payable_amount=total_bill-discount_per
print("price of burger     :    ", price_of_burger)
print("price of pasta      :    ", price_of_pasta)
print("price of sandwich    :    ", price_of_sandwich)
print("price of pizza      :    ", price_of_pizza)
print("price of coke       :    ",price_of_coke)
print("total bill     :    ", total_bill)
print("discount       :   ",discount)
print("payable bill   :   ",payable_amount)

price of burger     :     200
price of pasta      :     150
price of sandwich    :     100
price of pizza      :     500
price of coke       :     50
total bill     :     1000
discount       :    50.0
payable bill   :    995

In [ ]:
name_of_item1=input("enter name of item 1")
price_of_item1=int(input("enter price of item 1"))
discount_on_item1=int(input("enter discount on price of item1"))
print(name_of_item1)
print(price_of_item1)
print(discount_on_item1)

enter name of item 1pasta
enter price of item 1500
enter discount on price of item110
pasta
500
10

In [ ]:
name_of_item1 =input("enter name of item1")
price_of_item1=int(input("enter price of item1"))
discount_on_item1=int(input("enter discount on item1"))
total_bill_of_item1=price_of_item1-price_of_item1*discount_on_item1/100
name_of_item2=input("enter name of item2")
price_of_item2=int(input("enter price of item2"))
discount_on_item2=int(input("enter discount on item2"))
total_bill_of_item2=price_of_item2-price_of_item2*discount_on_item2/100
name_of_item3=input("enter name of item3")
price_of_item3=int(input("enter price of item3"))
discount_on_item3=int(input("enter discount on item3"))
total_bill_of_item3=price_of_item3-price_of_item3*discount_on_item3/100
print(name_of_item1)
print(price_of_item1)
print(total_bill_of_item1)
print(name_of_item2)
print(price_of_item2)
print(total_bill_of_item2)
print(name_of_item3)
print(price_of_item3)
print(total_bill_of_item3)
total_bill=total_bill_of_item1+total_bill_of_item2+total_bill_of_item3
discount_Per=25
bill_payable=total_bill-total_bill*discount/100
print("total bill     :    ",total_bill)
print("discount      :     ",discount_per)
print("bill payable    :    ",bill_payable)

enter name of item1pasta
enter price of item1500
enter discount on item110
enter name of item2burger
enter price of item2200
enter discount on item210
enter name of item3sandwich
enter price of item3150
enter discount on item35
pasta
500
450.0
burger
200
180.0
sandwich
150
142.5

NameError: name 'discount' is not defined

In [ ]:
color="green"
if color=="red":
  print("premium")
elif color=="yellow":
    print("non premium")
else:
   print("it doesnot existed")

it doesnot existed

In [19]:
direction="north"
if direction=="north":
   print("open=no,ni,so,eo,wo")
   print("closed=si,wi,ei")
elif direction=="south":
      print("open=si,so,eo,wo,no")
      print("closed=wi,ni,ei")
elif direction=="east":
      print("open=so,no,wo,ei,eo")
      print("closed=wi,ni,si")
elif direction=="west":
       print("open=wi,wo,eo,so,no")
       print("closed=ni,si,ei")
else:
    "no direction "

open=no,ni,so,eo,wo
closed=si,wi,ei

In [8]:
amount=5000
rate=10
time=2
simple_intrest=amount*rate*time/10
print(simple_intrest)

10000.0

In [20]:
amount=5000
rate=10
time=2
days=20
month = " january"
year = 2024
simple_intrest=amount*rate*time/100
print(simple_intrest)
if month=="january" or "march"or "may" or "july" or "august" or "october" or "december":
    days_in_month = 31
elif month=="april" or "june" or "september" or"november":
    days_in_month =30
else:
   if year%4==0 and year%100!=0 or year%400==0:
        days_in_month =29
   else:
         days_in_month=28
time2= days/days_in_month
simple_intrest_of_20days=amount*rate*time2/100
print(simple_intrest_of_20days)
total_intrest=simple_intrest+simple_intrest_of_20days
print(total_intrest)

1000.0
322.5806451612903
1322.5806451612902

In [17]:
month="january"
if month=="january" or "march"or "may" or "july" or "august" or "october" or "december":
    print("31 days")
elif month=="april" or "june" or "september" or"november":
    print("30 days")
else:
  "february"

31 days

In [28]:
year = 2024
if year%4==0 and year%100!=0 or year%400==0:
  days_in_month =29
else:
    days_in_month=28